/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  background: black;
}
body {
  font-size: 2rem;
}
h1 {
  font-family: "Dancing Script", cursive;
  color: #ffffff;
  font-size: 8rem;
  margin-top: 20px;
}
h2 {
  font-family: "Dancing Script", cursive;
  color: #ffffff;
  font-size: 4rem;
}
p {
  color: #ffffff;
  font-size: 2rem;
}
.containerMixin {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #ff0007;
  border: 2px solid #ffffff;
}
.flexMixinColumn {
  display: inline-flex;
  flex-flow: column nowrap;
}
.flexMixinRow {
  display: inline-flex;
  flex-flow: row nowrap;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.container header {
  width: 100%;
  margin: 0 auto;
}
.container nav {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.container a {
  text-decoration: none;
  padding: 10px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
}
.container header nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container header nav a:first-child {
  margin-left: 0;
}
.container header nav a:last-child {
  margin-right: 0;
}
.container .top-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #ff0007;
  border: 2px solid #ffffff;
}
.container img {
  width: 100%;
}
.container .top-container .topContent {
  width: 100%;
  height: 200px;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.container .topContent blockquote {
  font-size: 1.5rem;
  background: #ff3400;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.container .topContent blockquote p {
  font-style: italic;
}
.container .topContent blockquote footer {
  color: #ffffff;
  margin-top: 5px;
  font-size: 2rem;
}
.container .topContent button {
  font-size: 2rem;
  background: #ff3400;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
}
.container .middle-container-left {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #ff0007;
  border: 2px solid #ffffff;
  display: inline-flex;
  flex-flow: column nowrap;
  width: 49.5%;
}
.container .middleContentText {
  width: 100%;
  height: 225px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.container .middleContentText h2 {
  text-align: center;
  margin-top: 25px;
}
.container .middle-container-right {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #ff0007;
  border: 2px solid #ffffff;
  display: inline-flex;
  flex-flow: column nowrap;
  width: 49.5%;
}
.container .middleContentTable {
  width: 100%;
  height: 266px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
.container .middleContentTable h2 {
  text-align: center;
}
.container .middleContentTable table {
  border-collapse: collapse;
}
.container .middleContentTable th,
.container td,
.container tr {
  width: 33.3%;
  border: 1px solid #ffffff;
  padding: 15px;
  text-align: center;
  color: #ffffff;
}
.container .bottom-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #ff0007;
  border: 2px solid #ffffff;
}
.container .bottom-Content {
  width: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
}
.container .bottom-Content table {
  border-collapse: collapse;
}
.container .bottom-Content th,
.container td,
.container tr {
  width: 25%;
  border: 2px solid #000000;
  padding: 15px;
  text-align: center;
  color: #000000;
}
.container .bottom-Content tr:nth-child(even) {
  background: #ffffff;
  color: #ff0007;
}
.container .bottom-Content tr:nth-child(odd) {
  background: #ff0007;
  color: white;
}
.container .bottomFooter {
  width: 100%;
  margin-top: 20px;
  background: #ff0007;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 500px) {
  .container {
    width: 80%;
  }
}
